.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    background-color: beige;
}
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
