.form1-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    background-color: beige;
}
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.name-surname-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
form label {
    font-weight: bold;
    padding: 5px 0;
}
form input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
form input:focus {
    border-color: #007BFF;
    outline: none;
}
.form-adress {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.btn-container {
    display: flex;
    gap: 10px;
}
.btn-container button {
    padding: 10px 15px;
    border: none;
    border-radius: 50%;
    background-color: #00aeff;
    color: white;
    cursor: pointer;
}
.form-aliases {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.btn-container {
    display: flex;
    justify-content: center;
}